main{
    min-height: 70vh;
}


/* HEADER */
.collapse.navbar-collapse {
    flex-basis: 0;
    flex-grow: 0;
}

.container-fluid>.dropdown>.dropdown-toggle::after {
    display: none;
}



/* CARD */
.card {
    position: relative;
}

.img-container {
    padding-block-start: 1rem;
    padding-inline-end: 0;
}

.card-body>.col>.card-text {
    margin-block-end: 0.7rem;
}

.card-body>div:nth-child(2) {
    margin-block-end: 0.7rem;

}

.card-img-top {


    width: 100%;
    border-radius: 5px;

    object-fit: contain;
    aspect-ratio: 1;


}

.cart-overlay {

    visibility: hidden;
    height: 13%;
    box-shadow: 0px -5px 8px -3px grey;
    position: absolute;
    inset: 252px 0 0px 0px;


}

.cart-overlay button {
    cursor: pointer;
}

.card:hover .cart-overlay {

    visibility: visible;
}

/* SHOPPING CART */

.cart-quantity {
    width: 2rem;
}

.list-group-numbered>.list-group-item::before {
    content: counters(section, ".") " ";
    margin-inline-end: 1rem;
}

.card-body>.product-title {
    font-size: 0.8rem;
    margin-block-end: 0.5rem;

}

/* CONTEGGIO TOTALE CARRELLO SUL MAIN */

.badge.hidden {
    visibility: hidden;
}



body {
    background: #eee
}

.product-image {
    width: 100%
}


h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}


/* SPINNERS */

.loading {
    display: flex;
    justify-content: center;
}

.loading>div {
    width: 1rem;
    height: 1rem;
    margin: 2rem 0.3rem;
    background: #979fd0;
    border-radius: 50%;
    animation: 0.9s bounce infinite alternate;
}

.loading>div:nth-child(2) {
    animation-delay: 0.3s;
}

.loading>div:nth-child(3) {
    animation-delay: 0.6s;
}



@keyframes bounce {
    to {
        opacity: 0.3;
        transform: translate3d(0, -1rem, 0);
    }
}